.me{
    text-align: center;
   }

   .image{
    width: 100%;
    margin: auto;
    display: block;
    
   }
   .center1 {
    display: flex;
    justify-content: center;
    }
    .center{
      width: 50%;
   margin: auto;
      padding: 10px;
     
    }

  #about{
    padding-top: 100px;
  }
  .head{
    margin-left:80px;

    height:40px;
    padding-top:10px;
    
  }
  
  .short{
    height: 150px;
  }
.back{
padding-left: 100px;
padding-right: 100px;
}