.me{
    text-align: center;
   }

   .image{
    width: 60%;
    margin: auto;
    display: block;
    
   }
   .center {
    margin: auto;
    width: 50%;
   
    padding: 10px;
  }

  #about{
    padding-top: 100px;
  }
  .head{
    margin-left:80px;
  }