
.img{
height:150px;
}
.down{
margin-top: 20px;
}
.changeWidth{
margin-right:10px;
}
.accordian-main {
  cursor: pointer;
  display: inline-block;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: 14px;
  background-color:rgb(40, 93, 207);
  border: none;
  border-radius: 4px;

  padding: 10px;
  color: #fff;
}

.list-styles {
  list-style-type: circle;
}

.image-style1 {
  width: 3em;
}

.title{
    margin:0%;
    padding: 0%;
}
#project{
    padding-top: 70px;
}

.focus {
  transition: transform 0.3s;
}

.focus:hover {
  transform: scale(1.05);
}
h5{
    padding: 20px;
    background-color:#00bfff;
    color:white;
}

.space{
  display: flex;
  justify-content: space-between;

  
}